* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--text);

  font-family:
    Inter,
    system-ui,
    sans-serif;

  transition: 0.3s;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}

input,
textarea {
  outline: none;
}