.floating-btn {
  position: fixed;

  right: 40px;
  bottom: 40px;

  width: 75px;
  height: 75px;

  border: none;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
  font-weight: 700;

  color: var(--text);

  cursor: pointer;

  background: rgba(255, 255, 255, 0.18);

  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);

  border: 1px solid rgba(255, 255, 255, 0.25);

  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.12);

  transition: all 0.3s ease;

  z-index: 999;
}

body[data-theme="dark"] .floating-btn {
  background: rgba(20, 20, 20, 0.35);

  border: 1px solid rgba(255, 255, 255, 0.08);

  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.35);
}

.floating-btn:hover {
  transform: translateY(-4px) scale(1.05);

  background: rgba(255, 255, 255, 0.28);
}

body[data-theme="dark"] .floating-btn:hover {
  background: rgba(255, 255, 255, 0.08);
}

.floating-btn:active {
  transform: scale(0.95);
}