.auth-page {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;

  background: var(--bg);
}

.auth-card {
  width: 100%;
  max-width: 500px;

  padding: 50px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  border-radius: 30px;
}

.auth-logo {
  width: 60px;
  height: 60px;

  object-fit: contain;

  margin: 0 auto 10px;
}

.auth-card h1 {
  text-align: center;
  margin-bottom: 10px;

  color: var(--text);
}

.auth-card input {
  width: 100%;

  padding: 16px 20px;

  border: none;
  outline: none;

  border-radius: 14px;

  background: var(--card);
  color: var(--text);

  font-size: 1rem;

  box-shadow:
    inset 4px 4px 8px rgba(0,0,0,0.08),
    inset -4px -4px 8px rgba(255,255,255,0.8);
}

body[data-theme="dark"] .auth-card input {
  box-shadow:
    inset 4px 4px 8px rgba(0,0,0,0.5),
    inset -4px -4px 8px rgba(255,255,255,0.03);
}

.auth-card button {
  width: 100%;

  padding: 16px;

  border: none;

  border-radius: 14px;

  background: #111;
  color: white;

  font-size: 1rem;
  font-weight: 600;

  cursor: pointer;

  transition: 0.3s;
}

.auth-card button:hover {
  transform: translateY(-2px);
}

.auth-card p {
  text-align: center;

  color: var(--text);
}

.auth-card a {
  text-decoration: none;

  margin-left: 8px;

  font-weight: 600;

  color: var(--text);
}

@media (max-width: 600px) {
  .auth-card {
    padding: 35px 25px;
  }

  .auth-card h1 {
    font-size: 2rem;
  }
} 