.theme-toggle {
  width: 55px;
  height: 55px;

  border: none;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  background: rgba(255, 255, 255, 0.28);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  border: 1px solid rgba(255, 255, 255, 0.25);

  color: var(--text);

  transition: all 0.25s ease;
}

.theme-toggle:hover {
  transform: translateY(-2px);

  background: rgba(255, 255, 255, 0.35);
}

.theme-toggle:active {
  transform: scale(0.96);
}

.theme-toggle svg {
  width: 22px;
  height: 22px;
}

/* Dark Mode */

body[data-theme="dark"] .theme-toggle {
  background: rgba(255, 255, 255, 0.08);

  border: 1px solid rgba(255, 255, 255, 0.08);
}

body[data-theme="dark"] .theme-toggle:hover {
  background: rgba(255, 255, 255, 0.12);
}

@media (max-width: 480px) {

  .theme-toggle {
    width: 36px;
    height: 36px;
  }

  .theme-toggle svg {
    width: 16px;
    height: 16px;
  }
} 